@import-normalize;
@import 'colors';
@import 'fonts';
@import 'variables';

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-style: normal;
  font-size: unset;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light-gray;
  color: $primary-text;
}
