@import-normalize;
@import 'colors';
@import 'fonts';
@import 'variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light-gray;
  color: $primary-text;
}
