/*------------------------------------*\
* BRAND COLORS 
\*------------------------------------*/
$primary: #ffe600;
$primary-text: #333;
$secondary-text: #666;
$dark-gray: #999;
$light-gray: #eee;
$primary-cta: #3483fa;
