@import 'src/styles/base';

.Breadcrumb {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .Breadcrumb__Item {     
    display: flex;
    align-items: center;
    color: $dark-gray;
    font-size: 14px;

    svg {
      fill: $dark-gray;
    }    

    &:last-child {
      span {
        font-weight: 500;
      }
    }
  }


}