@import '../../styles/base';

.SearchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius;
  overflow: hidden;
  
  .SearchBar__input {
      font-size: 1.125rem;
      flex-grow: 1;
      padding: 0 16px;
      border: none;
      height: 40px;
      color: $secondary-text;
      
      &:focus {
          outline: none;
      }
  }

  .SearchBar__button {
      flex-grow: 0;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: $light-gray;        
      padding: 10px;
      box-sizing: border-box;
      cursor: pointer;

      img {
          width: 100%;
          height: auto;
      }
  }

}

.SearchBar__fullWidth {
  width: 100%;
}