@import '../../styles/base';

.SearchResult {
  margin-top: $gutter;

  .BreadcrumbWrapper {
    margin-bottom: 16px;
  }

  .NoResultsWrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    text-align: center;
  }  
}